* {
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(rockpaperscissors-background);
}

h1 {
    background-color: #081b31;
    color: white;
    height: 7rem;
    text-align: center;
    line-height: 7rem;
    font-size: 2.5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
}

.choice:hover {
    opacity: 0.75;
    cursor: pointer;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}

.text {
    text-align: center;
    margin-right: 21px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 2.1rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 4rem;
    gap: 2rem;
    border: 1px solid black;
    color: white;
    background-color: rgb(59, 35, 35);
    margin-left: 40rem;
    margin-right: 40rem;
    border-radius: 1rem;
    padding-bottom: 12px;
}

.score{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#comp-score, #user-score {
    font-size: 2.5rem;
}

.msg-container {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

#msg {
    background-color: #081b31;
    color: white;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
}